@media screen and (min-width: 576px) and (max-width: 991px) {
  .card-title-fs-custom {
    font-size: 1.5rem;
  }
  .card-text-fs-custom {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 991px) {
  .faq-content {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .faq-content {
    width: 75%;
  }
}
