/* banner start */
.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.carousel-caption {
  z-index: 999;
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}

/* banner end */
