/* banner start */
.carousel-item img {
  filter: brightness(60%);
}
.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}
/* banner end */
/* footer start */
.social-icon i {
  padding: 10px;
  font-size: 1rem;
  background-color: #242424;
  border-radius: 50%;
}
/* footer end */
